<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Patient</h2>
     <form method="post">
      {% csrf_token %}
      <input type="text"   name="first_name" placeholder="first name" value="{{patient.first_name}}"><br>
      <input type="text"  placeholder="last name" name="last_name" value="{{patient.last_name}}"><br>
      <input type="text"  placeholder="gender" name="gender" value="{{patient.gender}}"><br>
      <input type="text"  placeholder="phone" name="phone" value="{{patient.phone}}"><br>
      <input type="text" name="age"  placeholder="age" value="{{age}}"><br>
      <textarea name="address"  placeholder="address" >{{patient.address}}</textarea><br>
      <button type="submit">Add</button>
    </form>
</body>
</html>